<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Usuarios</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/index.css')}}"
    />
  </head>
  <body>
    <div class="main-content">
      <div class="text">
        <h1>¿Quien esta viendo?</h1>
      </div>

      <div class="select_users">
        <div class="user-one users-text userIt-hv">
          <div class="user-one users-img">
            <a href="/home/admin">
              <img
                src="https://occ-0-1356-559.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAAFODe-79HMte1GvxsxPzvEhS4oamceVNh3isrrNF3kcraRbsL9uOcrH0MyKtlmWkLJyKJIxId66coocNnpINTOKpTcQ.png?r=f08"
                alt="logo de usuario"
              />
            </a>
            <p>Admin</p>
          </div>
        </div>

        <div class="user-two users-text userIt-hv">
          <div class="userTwo-img users-img">
            <a href="/home/bonilla">
              <img
                src="https://occ-0-1356-559.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAAFH0VbIGycnpOMaFT5ER1erOVKsxpCLYnZF0-sxIK15G0mY7z7RnNlEEiRFGOOBCJcyB2CEibnXtHsXwNqmcCGg-XlQ.png?r=9fe"
                alt="logo de usuario"
              />
            </a>
          </div>
          <p>Bonilla</p>
        </div>

        <div class="user-three users-text userIt-hv">
          <div class="userThree-img users-img">
            <a href="/home/zuli">
              <img
                src="https://occ-0-1356-559.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAAFM5PrJX0TiFgfm4HOoS76PWmofnZtjwSQQj-dPSEdzfCr8p8wNhjBwMybzmLIAGotByD810aYhO6nG8N8FMUoXG-sg.png?r=ab"
                alt="logo de usuario"
              />
            </a>
          </div>
          <p>Zuli</p>
        </div>

        <div class="user-kids users-text userIt-hv">
          <div class="userKids-img users-img">
            <a href="#">
              <img
                src="https://occ-0-1356-559.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABcLIHTkNuA8jSxuJlbbZppCm90vEXAZ7nMv9P3Uqv0E-ufs9-AbpdXjBF3dF_imIb966YrjBqk-iJc25JoWLtqtqR5B3.png?r=1b8"
                alt="logo de usuario"
              />
            </a>
          </div>
          <p>Infantil (El puto Roke)</p>
        </div>
      </div>

      <div class="content-manageProfile">
        <a href="#" class="manageProfile">Generar perfiles</a>
      </div>
    </div>
  </body>
</html>
