<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Flixnet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script defer
            src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
            integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
            crossorigin="anonymous"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var scrollTopLink = document.getElementById("logo");
    
                // Detecta el evento de clic en el enlace
                scrollTopLink.addEventListener("click", function(event) {
                    event.preventDefault(); // Evita el comportamiento predeterminado del enlace
    
                    // Desplaza la página hacia la parte superior
                     window.scrollTo({
                        top: 0,
                        behavior: "smooth" // Animación de desplazamiento suave
                    });
                });
            });
        </script>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css')}}">
    </head>
    <body>
        <div class="wrapper">
            <!-- HEADER -->
            <header>
                <div class="flixnetLogo">
                    <a id="logo" href="#"><img
                            src="{{ url_for('static', filename = 'resources/logo.png')}}"
                            alt="Logo Image"></a>
                </div>
                <nav class="main-nav">
                    <a href="#home">Inicio</a>
                    <a href="#tvShows">Series</a>
                    <a href="#movies">Peliculas</a>
                    <a href="#originals">Originales</a>
                    <a href="#">Añadido recientemente</a>
                    <a href="{{ url_for('prueba')}}">Prueba </a>
                </nav>
                <nav class="sub-nav">
                    <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
                    <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
                    <a href="#"><i class="fas fa-user sub-nav-logo"></i></a>
                    <a href="#">BBonLLo</a>
                </nav>
            </header>
            <!-- END OF HEADER -->

            <!-- MAIN CONTAINER -->
            <div class="up"></div>
            <section class="main-container">
                <div class="location" id="home">
                    <h1 id="home">Popular en Flixnet</h1>
                    <div class="box">
                        <a href="#">
                            <div class="content">
                                <p>El Caballero Oscuro</p>
                            </div>
                            <img
                                src="{{ url_for('static', filename = 'resources/caballerooscuro.jpg')}}"
                                alt="">
                        </a>
                        <a href="#">
                            <div class="content">
                                <p>Infierno Blanco</p>
                            </div>
                            <img
                                src="{{ url_for('static', filename = 'resources/infiernoblanco.jpg')}}"
                                alt="">
                        </a>
                        <a href="#">
                            <div class="content">
                                <p>Interestellar</p>
                            </div>
                            <img
                                src="{{ url_for('static', filename = 'resources/interestellar.jpg')}}"
                                alt="">
                        </a>
                        <a href="#">
                            <div class="content">
                                <p>Marte</p>
                            </div>
                            <img
                                src="{{ url_for('static', filename = 'resources/marte.jpg')}}"
                                alt="">
                        </a>
                        <a href="#">
                            <div class="content">
                                <p>Ready Player One</p>
                            </div>
                            <img
                                src="{{ url_for('static', filename = 'resources/readyplayerone.jpg')}}"
                                alt="">
                        </a>
                        <a href="#">
                            <div class="content">
                                <p>Top Gun</p>
                            </div>
                            <img
                                src="{{ url_for('static', filename = 'resources/topgun.jpg')}}"
                                alt="">
                        </a>
                        <a href="#">
                            <div class="content">
                                <p>Tron</p>
                            </div>
                            <img
                                src="{{ url_for('static', filename = 'resources/tron.jpg')}}"
                                alt="">
                        </a>
                    </div>
                </div>
                <!-- END OF MAIN CONTAINER -->

                <!-- LINKS -->
                <section class="link">
                    <div class="logos">
                        <a href=""><i class="fab fa-facebook-square fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
                        <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
                    </div>
                    <div class="sub-links">
                        <ul>
                            <li><a href="#">Audio y Subtitulos</a></li>
                            <li><a href="#">Descripcion de Audio</a></li>
                            <li><a href="#">Centro de Ayuda</a></li>
                            <li><a href="#">Tarjeta regalo</a></li>
                            <li><a href="#">Centro de Prensa</a></li>
                            <li><a href="#">Inversores</a></li>
                            <li><a href="#">Trabajos</a></li>
                            <li><a href="#">Terminos de Uso</a></li>
                            <li><a href="#">Privacidad</a></li>
                            <li><a href="#">Noticias Legales</a></li>
                            <li><a href="#">Informacion Corporativa</a></li>
                            <li><a href="#">Contactanos</a></li>
                        </ul>
                    </div>
                </section>
                <!-- END OF LINKS -->

                <!-- FOOTER -->
                <footer>
                    <p>&copy 2001-2023 Flixnet, Inc.</p>
                    <p>Unai Bonilla & Unai Zuluaga &copy 2023</p>
                </footer>
            </div>
        </body>
    </html>