<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title id="title">{{datos["titulo"]}}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/pelicula.css')}}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename = 'resources/icon/icon.ico')}}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function addRepro() {
        var tituloPeli = $("#title").text();

        $.ajax({
          url: "/actualizar_reproducciones",
          type: "POST",
          data: {
            titulo: tituloPeli,
          },
          success: function (response) {
            $("#reproducciones").text(response);
          },
          error: function (error) {
            alert("Error en la actualización: " + error);
          },
        });
      }

      document.addEventListener("DOMContentLoaded", function () {
        var scrollTopLink = document.getElementById("logo");

        scrollTopLink.addEventListener("click", function (event) {
          event.preventDefault();

          window.scrollTo({
            top: 0,
            behavior: "smooth",
          });
        });
      });
    </script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
      integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
      crossorigin="anonymous"
    ></script>
    <script>
      function abrirModal() {
        document.getElementById("myModal").style.display = "block";
      }

      function cerrarModal() {
        document.getElementById("myModal").style.display = "none";
      }

      function seleccionar() {
        var comboBox = document.getElementById("comboBox");
        var seleccion = comboBox.options[comboBox.selectedIndex].text;
        var tituloPeli = $("#title").text();
        var user = $("#user").text();

        var xhr = new XMLHttpRequest();
        var url = "/agregar_a_lista";

        var formData = new FormData();
        formData.append("nombreLista", seleccion);
        formData.append("nombrePeli", tituloPeli);
        formData.append("user", user);

        xhr.open("POST", url, true);

        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              alert("Agregada a lista de reproducción con éxito.");
              location.reload();
            } else {
              alert("Error al agregar a la lista de reproducción.");
            }
          }
        };

        xhr.send(formData);
        cerrarModal();
      }

      function calificar() {
        var user = $("#user").text();
        var tituloPeli = $("#title").text();
        var calificacion = document.getElementById("calificacion").value.replace(",", ".");

        var xhr = new XMLHttpRequest();
        var url = "/agregar_calificacion";

        var formData = new FormData();
        formData.append("user", user);
        formData.append("nombrePeli", tituloPeli);
        formData.append("calificacion", calificacion);

        xhr.open("POST", url, true);

        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              alert("Calificado con éxito.");
              location.reload();
            } else {
              alert("Error en la calificación.");
            }
          }
        };

        xhr.send(formData);
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER -->
      <header>
        <div class="flixnetLogo">
          <a id="logo"
            ><img
              src="{{ url_for('static', filename = 'resources/images/logo.png')}}"
              alt="Logo Image"
          /></a>
        </div>
        <nav class="main-nav">
          <a href="/home/{{usuario.lower()}}">Inicio</a>
          <a href="/home/{{usuario.lower()}}#listas">Listas</a>
          <a href="#nohagonada">Peliculas</a>
          <a href="#nohagonada">Originales</a>
          <a href="#nohagonada">Añadido recientemente</a>
        </nav>
        <nav class="sub-nav">
          <a href="#nohagonada"><i class="fas fa-search sub-nav-logo"></i></a>
          <a href="#nohagonada"><i class="fas fa-bell sub-nav-logo"></i></a>
          <div class="sub-nav-box">
            <a href="/">
              <i class="fas fa-user sub-nav-logo"></i>
              <a id="user" href="/">{{usuario}}</a>
            </a>
          </div>
        </nav>
      </header>
      <!-- END OF HEADER -->

      <!-- MAIN CONTAINER -->
      <main>
        <div class="main-container" style="background: linear-gradient(rgba(0,
        0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url({{ url_for('static',
        filename = 'resources/images/'~ datos["codaName"] ~'.jpg')}});
        background-position: center center; background-size: cover;" >
        <div class="contenedor">
          <div class="film-info">
            <h3 class="titulo">{{datos["titulo"]}}</h3>
            <div class="puntuacion">
              <i class="fas fa-eye" style="margin-right: 5px"></i>
              <p id="reproducciones">{{datos["reproducciones"]}}</p>
            </div>
            <div class="puntuacion">
              <i class="fas fa-star" style="margin-right: 5px"></i>
              <p>{{datos["valoracion"]}}</p>
            </div>
          </div>
          <p class="descripcion">{{datos["sinopsis"]}}</p>
          <button
            type="button"
            role="button"
            class="boton"
            onclick="addRepro();"
          >
            <i class="fas fa-play" style="margin-right: 20px"></i>Reproducir
          </button>
          <button
            type="button"
            role="button"
            class="boton"
            onclick="abrirModal()"
          >
            <i class="fas fa-plus" style="margin-right: 20px"></i>Añadir a una
            lista
          </button>
          <form onsubmit="return false;">
            <label for="calificacion">Calificación:</label>
            <input
              type="number"
              id="calificacion"
              name="calificacion"
              min="0"
              max="9.9"
              step="0.1"
              required
            />
            <input type="submit" value="Calificar" onclick="calificar()" />
          </form>
          <div id="myModal" class="modal">
            <div class="contenidoModal">
              <span
                onclick="cerrarModal()"
                style="float: right; cursor: pointer"
                >&times;</span
              >
              <h3>Selecciona la lista a la que desea añadir:</h3>
              <select id="comboBox">
                {% for nombreLista in listas %}
                <option value="opcion1">{{nombreLista[0]}}</option>
                {% endfor %}
              </select>
              <br /><br />
              <button class="boton-seleccionar" onclick="seleccionar()">
                Guardar
              </button>
              <button class="boton-cerrar" onclick="cerrarModal()">
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </main>
      <!-- END OF MAIN CONTAINER -->

      <!-- LINKS -->
      <section class="link">
        <div class="logos">
          <a href="#nohagonada"
            ><i class="fab fa-facebook-square fa-2x logo"></i
          ></a>
          <a href="#nohagonada"><i class="fab fa-instagram fa-2x logo"></i></a>
          <a href="#nohagonada"><i class="fab fa-twitter fa-2x logo"></i></a>
          <a href="#nohagonada"><i class="fab fa-youtube fa-2x logo"></i></a>
        </div>
        <div class="sub-links">
          <ul>
            <li><a href="#nohagonada">Audio y Subtitulos</a></li>
            <li><a href="#nohagonada">Descripcion de Audio</a></li>
            <li><a href="#nohagonada">Centro de Ayuda</a></li>
            <li><a href="#nohagonada">Tarjeta regalo</a></li>
            <li><a href="#nohagonada">Centro de Prensa</a></li>
            <li><a href="#nohagonada">Inversores</a></li>
            <li><a href="#nohagonada">Trabajos</a></li>
            <li><a href="#nohagonada">Terminos de Uso</a></li>
            <li><a href="#nohagonada">Privacidad</a></li>
            <li><a href="#nohagonada">Noticias Legales</a></li>
            <li><a href="#nohagonada">Informacion Corporativa</a></li>
            <li><a href="#nohagonada">Contactanos</a></li>
          </ul>
        </div>
      </section>
      <!-- END OF LINKS -->

      <!-- FOOTER -->
      <footer>
        <p>&copy 2001-2023 Flixnet, Inc.</p>
        <p>Unai Bonilla & Unai Zuluaga &copy 2023</p>
      </footer>
    </div>
  </body>
</html>
