<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{contenido}}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/pelicula.css')}}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename = 'resources/icon/icon.ico')}}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
      integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var scrollTopLink = document.getElementById("logo");

        // Detecta el evento de clic en el enlace
        scrollTopLink.addEventListener("click", function (event) {
          event.preventDefault(); // Evita el comportamiento predeterminado del enlace

          // Desplaza la página hacia la parte superior
          window.scrollTo({
            top: 0,
            behavior: "smooth", // Animación de desplazamiento suave
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER -->
      <header>
        <div class="flixnetLogo">
          <a id="logo" href="#"
            ><img
              src="{{ url_for('static', filename = 'resources/images/logo.png')}}"
              alt="Logo Image"
          /></a>
        </div>
        <nav class="main-nav">
          <a href="/home/{{usuario.lower()}}">Inicio</a>
          <a href="#">Series</a>
          <a href="#">Peliculas</a>
          <a href="#">Originales</a>
          <a href="#">Añadido recientemente</a>
        </nav>
        <nav class="sub-nav">
          <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
          <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
          <a href="/"><i class="fas fa-user sub-nav-logo"></i>    {{usuario}}</a>
        </nav>
      </header>
      <!-- END OF HEADER -->

      <!-- MAIN CONTAINER -->
      <main>
        <div class="main-container" style="background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url({{ url_for('static', filename = 'resources/images/' ~ archivo ~ '.jpg')}}); background-position: center center; background-size: cover;">
          <div class="contenedor">
            <h3 class="titulo">{{contenido}}</h3>
            <p class="descripcion">
              Narra las aventuras de un grupo de exploradores que hacen uso de
              un agujero de gusano recientemente descubierto para superar las
              limitaciones de los viajes espaciales tripulados y vencer las
              inmensas distancias que tiene un viaje interestelar.
            </p>
            <button role="button" class="boton" onclick="dalePeli();">
              <i class="fas fa-play" style="margin-right: 20px;"></i>Reproducir
            </button>
            <button role="button" class="boton">
              <i class="fas fa-plus" style="margin-right: 20px;"></i>Añadir a la lista
            </button>
          </div>
        </div>
      </main>
      <!-- END OF MAIN CONTAINER -->

      <!-- LINKS -->
      <section class="link">
        <div class="logos">
          <a href=""><i class="fab fa-facebook-square fa-2x logo"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
          <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
        </div>
        <div class="sub-links">
          <ul>
            <li><a href="#">Audio y Subtitulos</a></li>
            <li><a href="#">Descripcion de Audio</a></li>
            <li><a href="#">Centro de Ayuda</a></li>
            <li><a href="#">Tarjeta regalo</a></li>
            <li><a href="#">Centro de Prensa</a></li>
            <li><a href="#">Inversores</a></li>
            <li><a href="#">Trabajos</a></li>
            <li><a href="#">Terminos de Uso</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Noticias Legales</a></li>
            <li><a href="#">Informacion Corporativa</a></li>
            <li><a href="#">Contactanos</a></li>
          </ul>
        </div>
      </section>
      <!-- END OF LINKS -->

      <!-- FOOTER -->
      <footer>
        <p>&copy 2001-2023 Flixnet, Inc.</p>
        <p>Unai Bonilla & Unai Zuluaga &copy 2023</p>
      </footer>
    </div>
    <!-- SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
  <script>
    function dalePeli() {
      alert(contenido)
    }
    alert(contenido)

    var peli = {
      id = 1
    };

    $.ajax({
      url: '/peli'
      type: 'POST'
      dataType: 'json'
      data: JSON.stringify(peli)
      contentType: 'application/json'
      success: function(response) {
        alert(response)
      }
    });
  </script>
</html>
