<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Flixnet</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/principal.css')}}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename = 'resources/icon/icon.ico')}}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
      integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
      crossorigin="anonymous"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var scrollTopLink = document.getElementById("logo");
        var scrollInicioLink = document.getElementById("inicio");

        // Detecta el evento de clic en el enlace
        scrollTopLink.addEventListener("click", function (event) {
          event.preventDefault(); // Evita el comportamiento predeterminado del enlace

          // Desplaza la página hacia la parte superior
          window.scrollTo({
            top: 0,
            behavior: "smooth", // Animación de desplazamiento suave
          });
        });

        scrollInicioLink.addEventListener("click", function (event) {
          event.preventDefault(); // Evita el comportamiento predeterminado del enlace

          // Desplaza la página hacia la parte superior
          window.scrollTo({
            top: 0,
            behavior: "smooth", // Animación de desplazamiento suave
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <!-- HEADER -->
      <header>
        <div class="flixnetLogo">
          <a id="logo" href="#"
            ><img
              src="{{ url_for('static', filename = 'resources/images/logo.png')}}"
              alt="Logo Image"
          /></a>
        </div>
        <nav class="main-nav">
          <a href="" id="inicio">Inicio</a>
          <a href="#listas">Listas</a>
          <a href="#">Peliculas</a>
          <a href="#">Originales</a>
          <a href="#">Añadido recientemente</a>
        </nav>
        <nav class="sub-nav">
          <a href="#"><i class="fas fa-search sub-nav-logo"></i></a>
          <a href="#"><i class="fas fa-bell sub-nav-logo"></i></a>
          <div class="sub-nav-box">
            <a href="/">
              <i class="fas fa-user sub-nav-logo"></i>
              <a href="/" id="user">{{usuario}}</a>
            </a>
          </div>
        </nav>
      </header>
      <!-- END OF HEADER -->

      <!-- MAIN CONTAINER -->
      <section class="main-container">
        <div class="location" id="home">
          <br />
          <h1>Popular en Flixnet</h1>
          <br />
          <div class="box">
            {% for peli in peliculas %}
            <a href="/home/{{usuario.lower()}}/{{peli[1]}}">
              <div class="content">
                <p>{{peli[0]}}</p>
              </div>
              <img
                src="{{ url_for('static', filename = 'resources/images/'~ peli[1] ~'.jpg')}}"
                alt=""
              />
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="location" id="listas">
          <br />
          <h1>Listas de reproducción</h1>
          {% if listas %} {% for lista, peliculas in listas.items() %}
          <h2>{{lista}}</h2>
          <div class="box">
            {% for peli in peliculas %}
            <a href="/home/{{usuario.lower()}}/{{peli}}">
              <div class="content">
                <p>{{peli}}</p>
              </div>
              <img
                src="{{ url_for('static', filename = 'resources/images/'~ peli ~'.jpg')}}"
                alt=""
              />
            </a>
            {% endfor %}
          </div>
          {% endfor %}
          <br />
          <br />
          <button
            type="button"
            role="button"
            class="boton"
            onclick="createplaylist()"
          >
            <i class="fas fa-list-ul" style="margin-right: 20px"></i>Nueva lista
            de reproduccion</button
          >{% else %} <br />
          <button
            type="button"
            role="button"
            class="boton"
            onclick="createplaylist()"
          >
            <i class="fas fa-list-ul" style="margin-right: 20px"></i>Crear lista
            de reproduccion</button
          >{% endif %}
        </div>
      </section>
      <!-- END OF MAIN CONTAINER -->

      <!-- LINKS -->
      <section class="link">
        <div class="logos">
          <a href=""><i class="fab fa-facebook-square fa-2x logo"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x logo"></i></a>
          <a href="#"><i class="fab fa-twitter fa-2x logo"></i></a>
          <a href="#"><i class="fab fa-youtube fa-2x logo"></i></a>
        </div>
        <div class="sub-links">
          <ul>
            <li><a href="#">Audio y Subtitulos</a></li>
            <li><a href="#">Descripcion de Audio</a></li>
            <li><a href="#">Centro de Ayuda</a></li>
            <li><a href="#">Tarjeta regalo</a></li>
            <li><a href="#">Centro de Prensa</a></li>
            <li><a href="#">Inversores</a></li>
            <li><a href="#">Trabajos</a></li>
            <li><a href="#">Terminos de Uso</a></li>
            <li><a href="#">Privacidad</a></li>
            <li><a href="#">Noticias Legales</a></li>
            <li><a href="#">Informacion Corporativa</a></li>
            <li><a href="#">Contactanos</a></li>
          </ul>
        </div>
      </section>
      <!-- END OF LINKS -->

      <!-- FOOTER -->
      <footer>
        <p>&copy 2001-2023 Flixnet, Inc.</p>
        <p>Unai Bonilla & Unai Zuluaga &copy 2023</p>
      </footer>
    </div>
    <script>
      function createplaylist() {
        var nombreLista = prompt(
          "Introduce el nombre de la lista de reproducción:"
        );
        var userNombre = $("#user").text();

        if (nombreLista !== null && nombreLista !== "") {
          var xhr = new XMLHttpRequest();
          var url = "/agregar_lista"; // Reemplaza con la URL correcta de tu servidor Python

          // Crear un objeto FormData para enviar los datos
          var formData = new FormData();
          formData.append("nombre", nombreLista);
          formData.append("usuario", userNombre);

          xhr.open("POST", url, true);

          xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
              if (xhr.status === 200) {
                // La solicitud se completó con éxito
                alert("Lista de reproducción agregada con éxito.");
              } else {
                // Ocurrió un error en la solicitud
                alert("Error al agregar la lista de reproducción.");
              }
            }
          };

          // Enviar la solicitud con el objeto FormData
          xhr.send(formData);
        } else {
          alert("Creación de lista de reproducción cancelada.");
        }
      }
    </script>
  </body>
</html>
